/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*real code starts here*/
@font-face {
    font-family: roboto;
    src: url(./fonts/Roboto-Black.ttf);
}
@font-face {
    font-family: roboto-light;
    src: url(./fonts/Roboto-Light.ttf);
}
*{
    --main-color: rgb(18, 144, 255);
    --accent-color: rgb(255, 176, 29);
    --background-color: rgb(236, 234, 234);
    --main-text-color: rgb(215, 211, 211);
    --main-p-color: gray;
    border: 0px;
}
:root{
    font-family: roboto, sans-serif;

}
body{
    padding-bottom: 0;
}


.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 18% 82%;
    grid-template-areas: 
        "sidebar header"
        "sidebar main";
}
.sidebar{
    background-color: var(--main-color);
    color: white;
    padding: 15px;
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 1fr 5fr 7fr;
    gap: 50px;
    font-weight: bold;
}
.sidebar h1{
    font-size: 2rem;
}
.sidebar ul{
    display:grid;
    grid-template-columns: 1.5rem auto;
    align-items: end;
    column-gap: 15px;
    row-gap: 20px;
    align-content: start;
}
.sidebar-header{
    display:grid;
    grid-template-columns: 3rem auto;
    align-items: center;
    

}

.header{
    grid-area: header;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    column-gap: 10px;
    row-gap: 10px;
    justify-items: space-between;
    padding: 10px 50px 10px 50px;
    border-bottom: 5px solid var(--main-text-color);
}
.search-bar{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    align-items: center;
}
.search-bar img,
.profile-container img:nth-of-type(1){
    width: 1.5rem;
}
.profile-container img:nth-of-type(2){
    width: 3em;
}
.profile-info{
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    height: 50px;
}
.header p{
    font-weight: bold;
}

.profile-info p:last-child{
    font-size:2rem;
}
.profile-info img{
    grid-row: 1 / 3;
}
input[type = "search"]{
    border-radius: 20px;
    background-color: var(--background-color);
    height: 30px;
}
.profile-container,
.header-buttons{
    justify-self: end;
}
.profile-container{
    display: grid;
    grid-template-columns: 1.5rem 3rem auto;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.header-buttons{
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: 30px;
    gap: 30px;
    align-content: center;
}
.header-buttons button{
    background-color: var(--main-color);
    color: white;
    border-radius: 15px;
    font: inherit;
}
.main{
    padding: 20px;
    background-color: var(--background-color);
    grid-area:main;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    gap:15px;
    grid-template-areas: 
        "projects announcements"
        "projects trending";  
}
.main p{
    font-family: roboto-light;
}
h2{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}
h3{
    font-size: 1.25rem;
}
h4,
h3{
    margin-bottom: 5px;
    font-weight: bold;
}
.card, 
.announcements > div, 
.trending > div{
    background-color: white;
    border-radius: 10px;
}
.announcements{
    grid-area: announcements;
}
.trending{
    grid-area: trending;
}
.projects{
    grid-area: projects;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}
.card{
    height: 200px;
    padding: 20px 10px 15px 10px;
    border-left: 5px solid var(--accent-color);
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.card p, .announcements p{
    color: var(--main-p-color);
}
.card-buttons{
    display: grid;
    grid-template-columns: repeat(3,1.5rem);
    gap: 1.5rem;
    justify-content: end;

}
.announcements div > div{
    padding:10px;
    border-bottom: 1px solid var(--main-text-color);
}
.announcements div > div:last-child{
    border: 0;
}
.announcements div{
    padding: 20px;
}
.trending div > div{
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "profile-image profile-name"
    "profile-image project-name";
    padding: 10px;
    row-gap: 5px;
    column-gap:10px;
}

.trending div img{
    grid-area: profile-image;
    /*grid-row: 1/3;
    grid-column: 1/2;*/
}
.trending div p:nth-child(2){
    font-family:roboto;
    grid-area:profile-name;
    align-self: end;
}
.trending div p:nth-child(3){

    grid-area:project-name;
    align-self: start;
}
/*.navigation li:nth-child(1)::before{
    content: url('./images/home.svg');
    display: inline-block;
    width: 1.5rem;
    margin-bottom: -10px;
  
}*/

